config.mk
xdg-shell.h
xdg-shell.c
xdg-shell-server.c
xdg-shell-server.h
*.o
*.so
minsoilleir
minsoilctrl
!/tests/minsoilleir
screenshot
protocol_dump
output
image.png
log
swl-screenshot.c
swl-screenshot-client.c
swl-screenshot-client.h
swl-screenshot-server.h
swl-screenshot-server.c
linux-dmabuf-server.h
linux-dmabuf-server.c
wl_viewporter.c
wl_viewporter.h
ext-image-capture-source-v1.c
ext-image-capture-source-v1-server.h
ext-foreign-toplevel-list-v1-server.h
ext-foreign-toplevel-list-v1.c
